# Arquivos de ambiente e credenciais locais
**/.env
**/.env.backup
**/.env.production
**/.env.local

# Dependências instaladas localmente
**/vendor/
**/node_modules/

# Arquivos temporários e de ferramentas
**/.expo/
**/.phpunit.cache/
**/.phpunit.result.cache
**/npm-debug.log
**/yarn-error.log
**/.DS_Store

# Android e Expo locais
**/*.jks
**/*.keystore
**/android/.gradle/
**/android/app/build/
